.PinCode {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.inp {
    width: 240px;
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.box {
    margin: 0 auto;
    width: 240px;
}

.box span {
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 35px;
    border: 2px solid white;
    padding: 5px 0 0;
    background: #D9C8C4;
    cursor: pointer;
}